<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MainProvider" value="System.Data.SqlClient" />
	</appSettings>
    <connectionStrings>
		<add name="Main" connectionString="data source=DESKTOP-LDHJ4D2\SQLEXPRESS;integrated security=SSPI;initial catalog=ReportGenerator;User ID=sa;Password=sapass" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>